:root {
  --main-color: #4db8ff;
}
body {
  background-image: url("../bg.jpg");
}
.navbar-nav {
    display:table;
    width:100%;
    margin: 0;
}
.navbar-nav > li {
    float:none;
    display:table-cell;
    text-align:center;
}

.menubar {
	color: white;
  font-weight: bold;
  font-size: 20px;
}

.menubar:hover {
  color: var(--main-color);
  text-shadow: 0px 0px 1px white;
}

.menuborder {
  border-right: white solid 1px;
}
.form-description {
  font-family:Trebuchet MS;
}
.search-banner {
  background-image: url("../bg-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.home-banner {
  width: 100%;
  background-image: url("../home-banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-pack: center;
  flex-direction: normal;
  height: 400px;
  padding-top: 1%;
}
.home-banner h1 {
  padding-top: 14%;
  padding-right: 8%;
  float: right;
  color: white;
  text-shadow: 0 0px 3px #56d02e;
}
.home-banner h2 {
  text-align: center;
  padding-top: 8%;
  padding-left: 5%;
  color: white;
  text-shadow: 0 0px 3px #56d02e;
}
.home-banner h2 p.title {
  float: right;
  font-size: 40px;
  font-weight: 300;  
}
.home-banner h2 p.context {
  float: left;
  padding-top: 15px;
  font-size: 20px;
  text-align: left;
}
.home-banner h3 {
  padding-top: 8%;
  text-shadow: 0 0px 3px black;
  float: left;
}
.home-banner h3 p.title {
  font-size: 30px;
  font-weight: 600;
  color: #56d02e;
  text-shadow: 0 0px 0.1px white;
  text-decoration: underline;
  text-decoration-color: #333;
}
.home-banner h3 p.context {
  color: #FFF;
  font-weight: 10;
  padding: 5px 0px;
  font-size: 18px;
}

.search-button {
  border-radius: 12px;
  background: black;
  color: white;
  border: var(--main-color) solid;
  text-decoration: none;
  padding: 5px 20px;
  margin: 10px;
  font-size: 20px;
}

.search-button:hover {
  color: var(--main-color);
  background: #333;
  border: #fff solid;
}

.select-panel {
  color: #fff;
  max-width: 100%;
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  bottom: 12vw;
  padding: 5% 15%;
  text-shadow: 0 0px 8px rgba(0,0,0,.8);
}
.chartboard {
    width: 90%;
    position: relative;
    height: 25vh;
    margin: auto;
}
.table-border {
  border: 1px solid #AAA;
}
.table tr th, .table tr td {
  text-align: center;
}
.table tbody {
  background-color: #555;
  color: white;
}
.table tr:hover {
  background-color: #000;
}
.detailtitle {
  color: #FFF;
  text-align: center;
  text-shadow: 0 0px 3px #1270FF;
}
#attackbox h3 {
  color: white;
  text-align: center;
  font-weight: 600;
}
#attackbox pre {
  text-align: center;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #333;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #FF004A;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #C5A;
  text-decoration: none;
  cursor: pointer;
}
footer {
  color: #FFF;
  text-shadow: 0 0px 8px #6591ff;
  position: relative;
  text-align: center;
  bottom: 0px;
  flex: 0 0 auto;
}