<!DOCTYPE html>
<html>
<head>
	<script src="script/chart.min.js"></script>
	<script src="script/jquery.min.js"></script>
	<meta charset="utf-8"></meta>
	<link rel='stylesheet' href="style/bootstrap.min.css"></link>
	<link rel="stylesheet" href="style/style.css"></link>
	<title>G8 Government Websites Cyber Autonomy</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="menuborder active"><a href="#"><span class="menubar">Home</span></a></li>
      <li class="menuborder"><a href="https.html"><span class="menubar">HTTPS</span></a></li>
      <li class="menuborder"><a href="#"><span class="menubar">HSTS</span></a></li>
      <li class="menuborder"><a href="tls.html"><span class="menubar">TLS vulnerability</span></a></li>
      <li class="menuborder"><a href="#"><span class="menubar">Root CA</span></a></li>
      <li class="menuborder"><a href="#"><span class="menubar">Content Provider</span></a></li>
    </ul>
  </div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-lg-6 two-columns" style="background: grey;">
			<div class="banner">An Investigation of Cyber Autonomy on Government Websites</div>
		</div>
		<div class="col-lg-6 two-columns" style="background: var(--main-color);">
			<div class="text-banner">
					<p>Hsu-Chun Hsiao</p>
					<p>Tiffany Hyun-Jin Kim</p>
					<p>Yu-Ming Ku</p>
					<p>Chun-Ming Chang</p>
					<p>Hung-Fang Chen</p>
					<p>Yu-Jen Chen</p>
					<p>Chun-Wen Wang</p>
					<p>Wei Jeng</p>
			<table width="100%" align="center">
					
				<tbody>
					<tr style="border-spacing: 5px;">
					<td valign="middle" align="right"></td>
					<td valign="middle">National Taiwan University</td>
					<td valign="middle">HRL Laboratories</td>
					<td valign="middle">Cornell University</td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-6 two-columns" style="background: var(--main-color);"><div class="text-banner">From a national security viewpoint, a higher degree of cyber autonomy is crucial to reduce the reliance on external, oftentimes un-trustworthy entities, in order to achieve better resilience against adversaries. Over a two-year period, we measured HTTPS adoption rates, the autonomy status of CAs, and the autonomy sta-tus of CPs on G7 government websites. We find that approximately 85% of web resources loaded by G7 government sites originatefrom the United States. Because a governmentwebsites are considered critical information infrastructures, we expect this study to raise awareness of their complex dependency,thereby reducing the risk of blindly trusting external entities when using critical government services.</div></div>
		<div class="col-lg-6 two-columns" style="background: grey;">
			<div class="banner">G8 Government Websites Cyber Autonomy Abstract</div>
		</div>
	</div>

</div>

<div class="container"></div>

</body>
</html>