<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<meta charset="utf-8"></meta>
	<link rel='stylesheet' href="{% static 'style/bootstrap.min.css' %}"></link>
	<link rel="stylesheet" href="{% static 'style/style.css' %}"></link>
	<script src="{% static 'script/jquery.min.js' %}"></script>
	<title>G7 Government Websites Cyber Autonomy</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="menuborder active"><a href="home"><span class="menubar">Home</span></a></li>
      <li class="menuborder"><a href="HTTPSAnalysis"><span class="menubar">HTTPS</span></a></li>
      <li class="menuborder"><a href="HSTSAnalysis"><span class="menubar">HSTS</span></a></li>
      <li class="menuborder"><a href="TLSAnalysis"><span class="menubar">TLS vulnerability</span></a></li>
      <li class="menuborder"><a href="CAAnalysis"><span class="menubar">Root CA</span></a></li>
      <li class="menuborder"><a href="CPAnalysis"><span class="menubar">Content Provider</span></a></li>
    </ul>
  </div>
</nav>

<div class="container">
	<div class="row">
		<div class="home-banner">
			<a class="prev" onclick="plusSlides(-1)">❮</a>
  		<a class="next" onclick="plusSlides(1)">❯</a>
			<h1 class="slides"><span style="font-size: 60px;">An Investigation of</span><br> Cyber Autonomy on <br><span style="color: #56d02e; float: right;">Government Websites</span></h1>
			<div class="slides" style="display: none;">
				<div class="col-lg-1"></div>
				<div class="col-lg-6">
					<h2>
					<p class="title">Introduction</p>
					<br>
					<p class="context">We aim to investigate cyber autonomy among government websites. Gathering top 100 for each Group of Seven (G7) countries, 3 crucial elements of security concerns are measured below:</p>
					</h2>	
				</div>
				<div class="col-lg-4">
					<h3>
						<p class="title">HTTPS</p>
						<p class="context">Any en-route, off-path adversary are capable of hijacking route.</p>
						<p class="title">Certificate Authority</p>
						<p class="context">Rogue CAs can easily spoof certificates.</p>
						<p class="title">Content Provider</p>
						<p class="context">Loading resources from untrusted server or foreign server, chances are that malicious code will be executed.</p>
					</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
	</div>

</div>

<div class="row">
	{% include "footer.html" %}
</div>

</body>
</html>
<script>
	var slideIndex = 1;
	function plusSlides(next) {
		var slides = $(".slides");
		console.log(slides);
		for(i = 0 ; i < slides.length; i++){
			slides.css("display","none");
		}
		slideIndex = slideIndex + next;
		if(slideIndex > slides.length) {slideIndex = 1;}
		if(slideIndex == 0) {slideIndex = slides.length;}
		slides[slideIndex-1].style.display = "block";
	}
</script>