<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<script src="{% static 'script/chart.min.js' %}"></script>
	<script src="{% static 'script/jquery.min.js' %}"></script>
	<meta charset="utf-8"></meta>
	<link rel='stylesheet' href="{% static 'style/bootstrap.min.css' %}"></link>
	<link rel="stylesheet" href="{% static 'style/style.css' %}"></link>
	<title>G8 Government Websites TLS vulnerability</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="menuborder"><a href="home"><span class="menubar">Home</span></a></li>
      <li class="menuborder"><a href="HTTPSAnalysis"><span class="menubar">HTTPS</span></a></li>
      <li class="menuborder"><a href="HSTSAnalysis"><span class="menubar">HSTS</span></a></li>
      <li class="menuborder active"><a href="#"><span class="menubar">TLS vulnerability</span></a></li>
      <li class="menuborder"><a href="CAAnalysis"><span class="menubar">Root CA</span></a></li>
      <li class="menuborder"><a href="CPAnalysis"><span class="menubar">Content Provider</span></a></li>
    </ul>
  </div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-md-12 search-banner">
			<form id="tls_search" class="select-panel form-group">
				{% csrf_token %}
				<label>Please Choose for Scanning Country:</label>
				<!-- Add season with ajax -->
				<select class="form-control" name="filetype">
					<option value="0">Overall Comparison</option>
					<option value="1">USA</option>
					<option value="2">Canada</option>
					<option value="3">France</option>
					<option value="4">Germany</option>
					<option value="5">Italy</option>
					<option value="6">Japan</option>
					<option value="7">UK</option>
					<option value="8">Taiwan</option>
				</select>
				<label>Scanning Season:</label>
				<select class="form-control" name="season">
					{% for season in time %}
					<option>{{season}}</option>
					{% endfor %}
				</select>
				<button id="tls_submit" class="search-button" type="submit">Search</button>
			</form>
		</div>
	</div>
	<hr>
	<div id="chartcontainer" class="row" style="background-color: black;">
	</div>

	<div class="row">
		{% include "footer.html" %}
	</div>

</div>

</body>
</html>
<script>

  // auto scroll
  function scrollgraph(argument) {
		$('html, body').animate({
	    scrollTop: $("#chartcontainer").offset().top
	  }, 600);
  }
	var sendform = $("#tls_search");
  // clear previous records
  $("#tls_submit").click(function(e) {
  	$("#chart").remove();
    $("#chartcontainer").append('<canvas id="chart" class="chartboard"></canvas>');
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: 'TLS_Request',
      data: sendform.serialize(),
      dataType: "html",      
      success: function(data)
      {
      	var object = JSON.parse(data);
				try{
					var filetype = parseInt(object["filetype"]);
					console.log(filetype);
					if(filetype === 0){
						var myPieChart = new Chart('chart', {
					    type: 'line',
					    data: {
					    	labels: ['0','1','2','3','4','5','6','7','8','9','10','11'],
					    	datasets: [{
					    		label: 'USA',
					    		data: object["data"][0],
					    		backgroundColor: ["rgb(176, 122, 161, 1)"],
									borderColor: ["rgb(176, 122, 161, 0.8)"],
									fill: false,
					    	},{
					    		label: 'Canada',
					    		data: object["data"][1],
					    		backgroundColor: ["rgba(78, 121, 167, 1)"],
									borderColor: ["rgba(78, 121, 167, 0.8)"],
									fill: false,
					    	},{
					    		label: 'France',
					    		data: object["data"][2],
					    		backgroundColor: ["rgba(242, 142, 43, 1)"],
									borderColor: ["rgba(242, 142, 43, 0.8)"],
									fill: false,
					    	},{
					    		label: 'Germany',
					    		data: object["data"][3],
					    		backgroundColor: ["rgba(225, 87, 89, 1)"],
									borderColor: ["rgba(225, 87, 89, 0.8)"],
									fill: false,
					    	},{
					    		label: 'Italy',
					    		data: object["data"][4],
					    		backgroundColor: ["rgba(118, 183, 178, 1)"],
									borderColor: ["rgba(118, 183, 178, 0.8)"],
									fill: false,
					    	},{
					    		label: 'Japan',
					    		data: object["data"][5],
					    		backgroundColor: ["rgba(89, 161, 79, 1)"],
									borderColor: ["rgba(89, 161, 79, 0.8)"],
									fill: false,
					    	},{
					    		label: 'UK',
					    		data: object["data"][6],
					    		backgroundColor: ["rgba(237, 201, 72, 1)"],
									borderColor: ["rgba(237, 201, 72, 0.8)"],
									fill: false,
					    	},{
					    		label: 'Taiwan',
					    		data: object["data"][7],
					    		backgroundColor: ["rgba(255, 255, 255, 1)"],
									borderColor: ["rgba(255, 255, 255, 0.8)"],
									fill: false,
					    	},
					    	]
					    },
				    	options: {
				        title: {
				            display: true,
				            text: $("select[name=season]").val() + ' G8 Government top100 Vulnerabilities Resilience',
				            fontColor: '#FFF',
				            fontSize: 24
				        },
				        elements: {
				        	line: {
				        		tension: 0,
				        		borderWidth: 5
				        	}
				        },
				        legend: {
				        	labels: {
				        		usePointStyle: true,
				        		fontColor: '#CCC',
				        		fontSize: 18
				        	}
				        },
				        scales: {
				        	xAxes: [{
				            ticks: {
			                fontColor: '#d4ffc6',
				              fontSize: 16
			              },
			              scaleLabel: {
			              	labelString: "Cumulative  Distribution  of  Resilience  Level",
			              	fontColor: '#BBB',
			              	display: true
			              }
					        }],
					        yAxes: [{
				            ticks: {
			                beginAtZero: true,
			                steps: 10,
			                stepValue: 6,
			                fontColor: '#EAD5E4'
			              }
					        }]
						    }
					    }
						});
						showdetailAll(myPieChart);
					}else if(filetype >=1 && filetype <= 8){
						var myPieChart = new Chart('chart', {
					    type: 'bar',
					    data: {
					    	labels: ['Beast','Heartbleed','Poodle','Freak','Logjam','Drown','Sweet32','Cross Protocol','RC4','Renegotiation','CRIME'],
					    	datasets: [{
					    		data: object["data"],
					    		backgroundColor: ["#3B9CB3","#024A5B","#66ffb1","#03BB75","#7b85c1","#cfa7f9","#986cd1","#ab6bd6","#bc4e42","#b7434b","#bc8b42"]
					    	}],
					    },
				    	options: {
					        title: {
					            display: true,
					            text: object["Country"] + ' Government top100 TLS Vulnerabilities',
					            fontColor: '#FFF',
						          fontSize: 24
					        },
					        legend: {
					        	display: false
					        },
					        scales: {
					        	xAxes: [{
					            ticks: {
				                fontColor: '#d4ffc6',
				                fontSize: 14,
				                fontFamily: 'sans-serif'
				              }
						        }],
						        yAxes: [{
					            ticks: {
				                beginAtZero: true,
				                steps: 10,
				                stepValue: 6,
				                fontColor: '#EAD5E4'
				              }
						        }]
							    }
					    }
						});
						showdetailSpecific(myPieChart);
					}
				}catch{
					console.log("bad response!");
					var $cht = $("#chart");
					var ctx = $cht[0].getContext('2d');
					ctx.font = "30px sans-serif";
					ctx.fillStyle = "#ffdb3d";
					ctx.textAlign = "center";
					ctx.fillText(object["message"], $cht[0].width/2, $cht[0].height/2);
				}
				
				scrollgraph();
			},
			complete: function(xhr, status) {
        console.log("HTTPS search requested!");
      }
    });
  });

	countrycode = {'USA':'1', 'Canada':'2','France':'3','Germany':'4','Italy':'5','Japan':'6','UK':'7','Taiwan':'8'}
  // get chart label name for post
  function showdetailAll(chartptx) {
		$("#chart").click( function(evt){
        var activePoints = chartptx.getElementsAtEventForMode(evt, 'point', chartptx.options);
        console.log(activePoints)
        var clickedElementindex = activePoints[0];
        console.log(clickedElementindex)
        var country = chartptx.data.datasets[clickedElementindex._datasetIndex].label;
        country = countrycode[country];
        var date = chartptx.options.title.text;
        date = date.split(" ")[0];

				var form = document.createElement("form");
				form.method = "POST";
				form.action = "OverallTLSDetail";
				var CSRF = $('input[name=csrfmiddlewaretoken]').val();
				var csrf_t = document.createElement("input"); 
				csrf_t.value = CSRF;
				csrf_t.name = "csrfmiddlewaretoken";
				var element1 = document.createElement("input");  
				element1.value = country;
				element1.name = "filetype";
				var element2 = document.createElement("input"); 
				element2.value = date;
				element2.name = "season";
				form.appendChild(csrf_t);
				form.appendChild(element1);
				form.appendChild(element2);
				document.body.appendChild(form);
				form.submit();
    });
  }
	
</script>