<!DOCTYPE html>
<html>
<head>
	<!-- {% load staticfiles %}
	<script src="{% static 'script/jquery.min.js' %}"></script>
	<link rel='stylesheet' href="{% static 'style/bootstrap.min.css' %}"></link>
	<link rel="stylesheet" href="{% static 'style/style.css' %}"></link> -->
	<script src="../script/jquery.min.js"></script>
	<link rel='stylesheet' href="../style/bootstrap.min.css"></link>
	<link rel="stylesheet" href="../style/style.css"></link>
	<meta charset="utf-8"></meta>
	<title>G8 Government Websites TLS vulnerability details</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="menuborder"><a href="home"><span class="menubar">Home</span></a></li>
      <li class="menuborder"><a href="HTTPSAnalysis"><span class="menubar">HTTPS</span></a></li>
      <li class="menuborder"><a href="HSTSAnalysis"><span class="menubar">HSTS</span></a></li>
      <li class="menuborder active"><a href="#"><span class="menubar">TLS vulnerability</span></a></li>
      <li class="menuborder"><a href="CAAnalysis"><span class="menubar">Root CA</span></a></li>
      <li class="menuborder"><a href="CPAnalysis"><span class="menubar">Content Provider</span></a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
	<h3>{{date}} {{Country}} Overall TLS vulnerabilities resilience</h3>
	<div class="table-responsive table-border">
		<table class="table">
			<thead>
				<tr class="active">
					<th>URL</th>
					<th>No. of attack resilience</th>
					<th>Beast</th>
					<th>Heartbleed</th>
					<th>Poodle</th>
					<th>Freak</th>
					<th>Logjam</th>
					<th>Drown</th>
					<th>Sweet32</th>
					<th>Cross Protocol</th>
					<th>RC4</th>
					<th>Renegotiation</th>
					<th>CRIME</th>
				</tr>
			</thead>
			<tbody>
			{% for attack in data %}
				<tr>
					<td>{{attack[0]}}</td>
					<td>{{attack[1]}}</td>
					<td>{{attack[2]}}</td>
					<td>{{attack[3]}}</td>
					<td>{{attack[4]}}</td>
					<td>{{attack[5]}}</td>
					<td>{{attack[6]}}</td>
					<td>{{attack[7]}}</td>
					<td>{{attack[8]}}</td>
					<td>{{attack[9]}}</td>
					<td>{{attack[10]}}</td>
					<td>{{attack[11]}}</td>
					<td>{{attack[12]}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<h1>footer</h1>
	</div>

</div>

</body>
</html>