<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<script src="{% static 'script/chart.min.js' %}"></script>
	<script src="{% static 'script/jquery.min.js' %}"></script>
	<meta charset="utf-8"></meta>
	<link rel='stylesheet' href="{% static 'style/bootstrap.min.css' %}"></link>
	<link rel="stylesheet" href="{% static 'style/style.css' %}"></link>
	<title>G8 Government Websites HSTS Scanning</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="menuborder"><a href="home"><span class="menubar">Home</span></a></li>
      <li class="menuborder"><a href="HTTPSAnalysis"><span class="menubar">HTTPS</span></a></li>
      <li class="menuborder active"><a href="#"><span class="menubar">HSTS</span></a></li>
      <li class="menuborder"><a href="TLSAnalysis"><span class="menubar">TLS vulnerability</span></a></li>
      <li class="menuborder"><a href="CAAnalysis"><span class="menubar">Root CA</span></a></li>
      <li class="menuborder"><a href="CPAnalysis"><span class="menubar">Content Provider</span></a></li>
    </ul>
  </div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-md-12" style="background: grey;">
			<form id="hsts_search" class="select-panel form-group">
				{% csrf_token %}
				<label>Please Choose for Scanning Country:</label>
				<!-- Add season with ajax -->
				<select class="form-control" name="filetype">
					<option value="0">Overall Comparison</option>
					<option value="1">USA</option>
					<option value="2">Canada</option>
					<option value="3">France</option>
					<option value="4">Germany</option>
					<option value="5">Italy</option>
					<option value="6">Japan</option>
					<option value="7">UK</option>
					<option value="8">Taiwan</option>
				</select>
				<label>Scanning Season:</label>
				<select class="form-control" name="season">
					{% for seasons in time %}
					<option>{{seasons}}</option>
					{% endfor %}
				</select>
				<button id="hsts_submit" class="search-button" type="submit">Search</button>
			</form>
		</div>
	</div>
	<hr>
	<div id="chartcontainer" class="row" style="background-color: black;">
	</div>

	<div class="row">
		<h1>footer</h1>
	</div>

</div>

</body>
</html>
<script>

  // auto scroll
  function scrollgraph(argument) {
		$('html, body').animate({
	    scrollTop: $("#chartcontainer").offset().top
	  }, 600);
  }
	var sendform = $("#hsts_search");
  // clear previous records
  $("#hsts_submit").click(function(e) {
  	$("#chart").remove();
    $("#chartcontainer").append('<canvas id="chart" class="chartboard"></canvas>');
    
    // AJAX submit form
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: 'HSTS_Request',
      data: sendform.serialize(),
      dataType: "html",
      success: function(data)
      {
				var object = JSON.parse(data);

				try{
					var filetype = parseInt(object["filetype"]);
					console.log(filetype);
					if(filetype >=1 && filetype <= 8){
						//TODO: if [one country] - pie chart
						var myPieChart = new Chart('chart', {
						    type: 'pie',
						    data: {
						    	labels: ['HSTS adoption',"no adoption"],
						    	datasets: [{
						    		data: [parseInt(object["data"]), 100-parseInt(object["data"])],
						    		backgroundColor: ["#ff6666","#555555"]
						    	}],
						    },
					    	options: {
						        title: {
						            display: true,
						            text: object["Country"] + ' Government top100 HSTS adoption rate',
						            fontColor: '#FFF',
							          fontSize: 22
						        },
						        legend: {
						        	labels: {fontColor: '#d4ffc6'}
						        }
						    }
						});
					} else if(filetype === 0){
						//TODO: if [all comparison] - bar chart
						var myPieChart = new Chart('chart', {
					    type: 'bar',
					    data: {
					    	labels: ['USA','Canada','Italy','Japan','Germany','France','UK','Taiwan'],
					    	datasets: [{
					    		data: object["data"],
					    		backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#f4d35e","#f78764","#083d77"]
					    	}],
					    },
				    	options: {
				        title: {
				            display: true,
				            text: 'G8 Government top100 HSTS adoption rate',
				            fontColor: '#FFF',
				            fontSize: 18
				        },
				        scales: {
				        	xAxes: [{
				            ticks: {
			                fontColor: '#d4ffc6'
			              }
					        }],
					        yAxes: [{
				            ticks: {
			                beginAtZero: true,
			                steps: 10,
			                stepValue: 6,
			                fontColor: '#EAD5E4'
			              }
					        }]
						    },
						    legend: {
						      display: false
						    }
					    }
						});
					}
					showdetail(myPieChart);
					scrollgraph();
				}catch{
					console.log("bad response!");
				}

      },
      complete: function(xhr, status) {
        console.log("HTTPS search requested!");
      }
    });

  })

  // get chart label name for post
  function showdetail(chartptx) {
		$("#chart").click( function(evt){
        var activePoints = chartptx.getElementsAtEvent(evt);
        var clickedElementindex = activePoints[0]["_index"];
        var label = chartptx.data.labels[clickedElementindex];
        var url = "http://example.com/?label=" + label;
        alert(url);
    });
  }
	
</script>