<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<script src="{% static 'script/chart.min.js' %}"></script>
	<script src="{% static 'script/jquery.min.js' %}"></script>
	<meta charset="utf-8"></meta>
	<link rel='stylesheet' href="{% static 'style/bootstrap.min.css' %}"></link>
	<link rel="stylesheet" href="{% static 'style/style.css' %}"></link>
	<title>G8 Government Websites HSTS Scanning</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="menuborder"><a href="home"><span class="menubar">Home</span></a></li>
      <li class="menuborder"><a href="HTTPSAnalysis"><span class="menubar">HTTPS</span></a></li>
      <li class="menuborder active"><a href="HSTSAnalysis"><span class="menubar">HSTS</span></a></li>
      <li class="menuborder"><a href="TLSAnalysis"><span class="menubar">TLS vulnerability</span></a></li>
      <li class="menuborder"><a href="CAAnalysis"><span class="menubar">Root CA</span></a></li>
      <li class="menuborder"><a href="CPAnalysis"><span class="menubar">Content Provider</span></a></li>
    </ul>
  </div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-md-12 search-banner">
			<form id="hsts_search" class="select-panel form-group">
				{% csrf_token %}
				<label>Please Choose for Scanning Country:</label>
				<!-- Add season with ajax -->
				<select class="form-control" name="filetype">
					<option value="0">Overall Comparison</option>
					<option value="1">USA</option>
					<option value="2">Canada</option>
					<option value="3">France</option>
					<option value="4">Germany</option>
					<option value="5">Italy</option>
					<option value="6">Japan</option>
					<option value="7">UK</option>
					<option value="8">Taiwan</option>
				</select>
				<label>Scanning Season:</label>
				<select class="form-control" name="season">
					{% for seasons in time %}
					<option>{{seasons}}</option>
					{% endfor %}
				</select>
				<button id="hsts_submit" class="search-button" type="submit">Search</button>
			</form>
		</div>
	</div>
	<hr>
	<div id="chartcontainer" class="row" style="background-color: black;">
	</div>

	<div class="row">
		{% include "footer.html" %}
	</div>

</div>

</body>
</html>
<script>

  // auto scroll
  function scrollgraph(argument) {
		$('html, body').animate({
	    scrollTop: $("#chartcontainer").offset().top
	  }, 600);
  }
	var sendform = $("#hsts_search");
  // clear previous records
  $("#hsts_submit").click(function(e) {
  	$("#chart").remove();
    $("#chartcontainer").append('<canvas id="chart" class="chartboard"></canvas>');
    
    // AJAX submit form
    e.preventDefault();
    $.ajax({
      type: 'POST',
      url: 'HSTS_Request',
      data: sendform.serialize(),
      dataType: "html",
      success: function(data)
      {
				var object = JSON.parse(data);

				try{
					var filetype = parseInt(object["filetype"]);
					console.log(filetype);
					if(filetype >=1 && filetype <= 8){
						//TODO: if [one country] - pie chart
						var myPieChart = new Chart('chart', {
						    type: 'pie',
						    data: {
						    	labels: ['HSTS adoption',"no adoption"],
						    	datasets: [{
						    		data: [parseInt(object["data"]), 100-parseInt(object["data"])],
						    		backgroundColor: ["#FFA165","#AAAAAA"]
						    	}],
						    },
					    	options: {
						        title: {
						            display: true,
						            text: $("select[name=season]").val() + ' ' + object["Country"] + ' Government top100 HSTS adoption rate',
						            fontColor: '#FFF',
							          fontSize: 24
						        },
						        legend: {
						        	labels: {
						        		fontColor: '#d4ffc6',
						        		fontSize: 18
						        	}
						        }
						    }
						});
						showdetailSpecific(myPieChart);
					} else if(filetype === 0){
						//TODO: if [all comparison] - bar chart
						var myPieChart = new Chart('chart', {
					    type: 'bar',
					    data: {
					    	labels: ['US','Canada','France','Germany','Italy','Japan','UK','Taiwan'],
					    	datasets: [{
					    		data: object["data"],
					    		backgroundColor: ["rgb(176, 122, 161, 1)","rgba(78, 121, 167, 1)","rgba(242, 142, 43, 1)","rgba(225, 87, 89, 1)","rgba(118, 183, 178, 1)","rgba(89, 161, 79, 1)","rgba(237, 201, 72, 1)","rgba(255, 255, 255, 1)"],
					    	}],
					    },
				    	options: {
				        title: {
				            display: true,
				            text: $("select[name=season]").val() + ' G8 Government top100 HSTS adoption rate',
				            fontColor: '#FFF',
				            fontSize: 24
				        },
				        scales: {
				        	xAxes: [{
				            ticks: {
			                fontColor: '#d4ffc6',
			                fontSize: 16,
			                fontFamily: 'sans-serif'
			              },
			              barPercentage: 0.5
					        }],
					        yAxes: [{
				            ticks: {
			                beginAtZero: true,
			                steps: 10,
			                stepValue: 6,
			                fontColor: '#EAD5E4'
			              }
					        }]
						    },
						    legend: {
						      display: false
						    }
					    }
						});
						showdetailAll(myPieChart);
					}
					scrollgraph();
				}catch{
					console.log("bad response!");
					var $cht = $("#chart");
					var ctx = $cht[0].getContext('2d');
					ctx.font = "30px sans-serif";
					ctx.fillStyle = "#ffdb3d";
					ctx.textAlign = "center";
					ctx.fillText(object["message"], $cht[0].width/2, $cht[0].height/2);
				}

      },
      complete: function(xhr, status) {
        console.log("HTTPS search requested!");
      }
    });

  })

  
  function senddetailform(country, date) {
  	var form = document.createElement("form");
		form.method = "POST";
		form.action = "HTTPSHSTSDetail";
		var CSRF = $('input[name=csrfmiddlewaretoken]').val();
		var csrf_t = document.createElement("input");
		csrf_t.value = CSRF;
		csrf_t.name = "csrfmiddlewaretoken";
		var element1 = document.createElement("input");  
		element1.value = country;
		element1.name = "filetype";
		var element2 = document.createElement("input"); 
		element2.value = date;
		element2.name = "season";
		form.appendChild(csrf_t);
		form.appendChild(element1);
		form.appendChild(element2);
		document.body.appendChild(form);
		form.submit();
  }

  countrycode = {'US':'1', 'Canada':'2','France':'3','Germany':'4','Italy':'5','Japan':'6','UK':'7','Taiwan':'8'}
  // get chart label name for post
  function showdetailAll(chartptx) {
		$("#chart").click( function(evt){
      var activePoints = chartptx.getElementsAtEvent(evt);
      var clickedElementindex = activePoints[0]["_index"];
      var country = chartptx.data.labels[clickedElementindex];
      country = countrycode[country];
      var date = chartptx.options.title.text;
      date = date.split(" ")[0];
      senddetailform(country, date);
    });
  }
  function showdetailSpecific(chartptx){
  	$("#chart").click( function(evt){
      var activePoints = chartptx.getElementsAtEvent(evt);
      var clickedElementindex = activePoints[0]["_index"];
      var text = chartptx.options.title.text.split(" ");
      var country = countrycode[text[1]];
      var date = text[0];
      senddetailform(country, date);
    });
  }
	
</script>