<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<script src="{% static 'script/jquery.min.js' %}"></script>
	<link rel='stylesheet' href="{% static 'style/bootstrap.min.css' %}"></link>
	<link rel="stylesheet" href="{% static 'style/style.css' %}"></link>
	<!-- <script src="../script/jquery.min.js"></script>
	<link rel='stylesheet' href="../style/bootstrap.min.css"></link>
	<link rel="stylesheet" href="../style/style.css"></link> -->
	<meta charset="utf-8"></meta>
	<title>G8 Government Websites Root CA autonomy</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="menuborder"><a href="home"><span class="menubar">Home</span></a></li>
      <li class="menuborder"><a href="HTTPSAnalysis"><span class="menubar">HTTPS</span></a></li>
      <li class="menuborder"><a href="HSTSAnalysis"><span class="menubar">HSTS</span></a></li>
      <li class="menuborder"><a href="TLSAnalysis"><span class="menubar">TLS vulnerability</span></a></li>
      <li class="menuborder active"><a href="CAAnalysis"><span class="menubar">Root CA</span></a></li>
      <li class="menuborder"><a href="CPAnalysis"><span class="menubar">Content Provider</span></a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
	<h3><span style="font-weight: 800;">{{date}} {{Country}}</span> Root CA autonomy</h3>
	<div class="table-responsive table-border">
		<table class="table">
			<thead>
				<tr class="active">
					<th>URL</th>
					<th>CA owner</th>
					<th>CA country</th>
				</tr>
			</thead>
			<tbody>
			{% for row in data %}
				<tr>
					{% for col in row %}
					<td>{{col}}</td>
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<h1>footer</h1>
	</div>

</div>

</body>
</html>