<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<script src="{% static 'script/jquery.min.js' %}"></script>
	<link rel='stylesheet' href="{% static 'style/bootstrap.min.css' %}"></link>
	<link rel="stylesheet" href="{% static 'style/style.css' %}"></link>
	<meta charset="utf-8"></meta>
	<title>G8 Government Websites HTTPS HSTS adoption</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="menuborder"><a href="home"><span class="menubar">Home</span></a></li>
      <li class="menuborder active"><a href="HTTPSAnalysis"><span class="menubar">HTTPS</span></a></li>
      <li class="menuborder active"><a href="HSTSAnalysis"><span class="menubar">HSTS</span></a></li>
      <li class="menuborder"><a href="TLSAnalysis"><span class="menubar">TLS vulnerability</span></a></li>
      <li class="menuborder"><a href="CAAnalysis"><span class="menubar">Root CA</span></a></li>
      <li class="menuborder"><a href="CPAnalysis"><span class="menubar">Content Provider</span></a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
	<h3 class="detailtitle"><span style="font-weight: 800;">{{date}} {{Country}}</span> HTTPS &amp; HSTS adoption</h3>
	<div class="table-responsive table-border">
		<table class="table">
			<thead>
				<tr class="active">
					<th>URL</th>
					<th>HTTPS adoption</th>
					<th>HSTS adoption</th>
				</tr>
			</thead>
			<tbody>
			{% for row in data %}
				<tr>
					{% for col in row %}
					<td>{{col}}</td>
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row">
		{% include "footer.html" %}
	</div>

</div>

</body>
</html>